
header {
    background: linear-gradient(-45deg, #ad5e46, #c9306a, #2588ad, #1da364);
    background-size: 400% 30%;
    animation: gradient 15s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

body {
    margin: 0;
}

section {
    padding: 2rem;
}

.chess {
    background-color: grey;
}

#board {
    height: 90vh;
    max-height: 95vw;
    width: 90vh;
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    aspect-ratio: 1/1;
}

.chess-game {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly; 
}

.chess-part {
    text-align: center; 
    width: 33%;
}

.piece-container {
    display: flex;
    flex-wrap: wrap;
}

